<!DOCTYPE html>
<html lang="en">

<head>
    <title>Title</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
       <link rel="stylesheet" href="productos.css"> <!-- Agregamos el nuevo archivo de estilo -->
</head>

<body>
    <header id="header" style="background-color: #2c3e50; color: #ecf0f1; padding: 20px;">
        <div class="container">
            <h1>Productos</h1>
        </div>
    </header>
    <main style="background-color: #34495e; color: #ecf0f1; padding: 50px;">
        <div id="app" class="container">
            <a class="btn btn-primary mb-4" href="../index.html"
                style="background-color: #eb2513;">Salir</a>
            <div v-if="error">
                <p>Lo sentimos , ........</p>
            </div>
            <div v-else>
                <section v-if="cargando">
                    <div class="spinner-border"></div>
                    <p>Cargando .....</p>
                </section>
                <section v-else>
                    <div class="table-responsive">
                        <table class="table table-bordered table-dark">
                            <thead>
                                <tr>
                                    <th scope="col">Id</th>
                                    <th scope="col">Nombre</th>
                                    <th scope="col">Apellido</th>
                                    <th scope="col">Edad</th>
                                    <th scope="col">E-Mail</th>
                                    <th scope="col">Acciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="" v-for="producto in productos">
                                    <td scope="row">{{producto.id}}</td>
                                    <td>{{producto.nombre}}</td>
                                    <td>{{producto.apellido}}</td>
                                    <td>{{producto.edad}}</td>
                                    <td>{{producto.email}}</td>
                                    <td>
                                        <a class="btn btn-primary"
                                            :href="'./producto_update.html?id=' + producto.id"
                                            style="background-color: #3498db;">Editar</a>
                                        <button type="button" class="btn btn-danger"
                                            v-on:click="eliminar(producto.id)"
                                            style="background-color: #e74c3c;">Eliminar</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </section>
            </div>
        </div>
    </main>
    <footer style="background-color: #2c3e50; color: #ecf0f1; padding: 20px;">
        <!-- place footer here -->
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
        integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
        integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz"
        crossorigin="anonymous"></script>
    <script src="../js/main.js"></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <!--Link de VUE-->
    <script src="../js/productos.js"></script>
</body>

</html>
